*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
@font-face{
font-family: "byekan";
src: url('./font/BYekan-/BYekan/BYekan+.ttf');
}
@font-face{
  font-family: "iran_sans";
  src: url('./font/A-Iranian-Sans/A-Iranian-Sans/Iranian\ Sans.ttf');

  }
  @font-face{
    font-family: "vazir";
    src: url('./font/vazir-font-v16.1.0/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.ttf');
  
    }
body{
  font-family: "vazir";
  /* background-image:url('img/bgedit1.png'); */

}
.holder {
    /* background:#ccc; */
    text-overflow: ellipsis;
    padding:0.5rem;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;

    
  }
  .news {
    animation : slide 20s linear infinite;
    color:black;
    margin: 0;
    padding:0;
    /* width:200px; */
    font-size:1.3em;
    text-shadow: 10px 0px 10px #D14283;


    
  }
  .logo {
    width: 3vw;
    height: 80%; 
  }
  .smalllogo{
    width: 8vw;
    height: 80%; 
  }
  .adminimg{
    width: 2.75vw;
    height: 80%; 
    border-radius: 50px;
  }
  
  
    @keyframes slide {
        0% { transform: translateX(-100%); }
        100% { transform: translateX(0%); }
      }
.middlesection{
  margin-bottom: 20vh;
}

.top-img{
    background-image:url('img/bg.jpg');
    height: 75vh;
    line-height: 75vh;
    /* position:relative; */
}
.imgtext{
  font-family: "iran_sans";
    position:relative;
    padding-top:50%;
    /* padding-right: 18vw; */
    /* font-size: 7em; */
    font-size:11vw;
    /* color: rgb(255,255,255); */
    color: transparent;

    /* animation: floatup 2s forwards; */
    /* animation: flickertext1 2s linear  reverse infinite; */
}



/*  */
@keyframes flickertext1 {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}








/* } */
@keyframes floatup {
    from {transform: translateY(0px);}
    to {transform: translateY(-12vh);}
  }

  .imgtext2{
    font-family: "iran_sans";
    /* position:absolute; */
    /* padding-top:18vh; */
    padding-right: 25vw;
    /* font-size: 7em; */
    font-size:7vw;
    /* color: rgb(255,255,255); */
    color: transparent;
    /* animation: floatup 2s forwards; */
    /* animation: flickertext1 2s linear  reverse infinite; */


}
.imgtext3{
  font-family: "iran_sans";
    /* position:absolute; */
    /* padding-top:18vh; */
    padding-right: 34vw;
    /* font-size: 7em; */
    font-size:7vw;
    /* color: rgb(255,255,255); */
    color: transparent;

    /* animation: floatup 2s forwards; */
    /* animation: flickertext1 2s linear  reverse infinite; */


}
.uploadtitle{
  font-size: 2em;
  background: -webkit-linear-gradient(#cf9faf, #91043c);
  /* background: -webkit-linear-gradient(#cf9faf, #cf1439); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.uploadparam{
  background-image: linear-gradient(to left, #a82057, #dc4e64, #e3768b, #e4728e);
  color:rgb(255,255,255);
  /* border-radius:10px; */
  border:none;
}
.mainupload { 
  /* transition: all .2s ease-in-out;  */
  transition: transform .2s; /* Animation */}
.mainupload:hover { transform: scale(1.1); }
.gif{
  height: 300px;
}
/* .mainupload{ */
  /* margin-right: 30px; */
/* } */
.footer{
  background-color: rgb(50, 74, 100);
  /* height: 70px; */
}
.footer-right{
  color:rgb(255,255,255);
  /* height: 50px; */
}
.dlimg{
  height: 10vh;
}
.dltext{
  font-size:1.4em;
}
.logintitle{
  background: -webkit-linear-gradient(#cf9faf, #D14283);
  /* background: -webkit-linear-gradient(#cf9faf, #cf1439); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loginbtn{
  /* background-color: rgb(209, 66, 131); */
  background-image: linear-gradient(to left, #D14283, #FF7EB7, #e3768b, #e4728e);
}


.overlay{
  /* display: none; */
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgb(134, 97, 97,0.7) url("img/loader4.gif") center no-repeat ;
}
/* Turn off scrollbar when body element has the loading class */
body .loading{
  overflow: hidden;   
}
/* Make spinner image visible when body element has the loading class */
 body .loading {
  display: block;
}

.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgb(255,255,255);
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(rgb(58, 54, 54) 25%, transparent 25%);
  mask-image: linear-gradient(rgb(65, 59, 59) 25%, transparent 25%);
  animation: deconstructed1 5s infinite;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 5s infinite;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 5s infinite;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s infinite;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-103%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-105%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-107%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-110%);
  }
}


@media(max-width:767px){
  .loginform{
    margin-bottom:45vh;
  }
  /* .footericons{ */
    /* margin-bottom: 10vh; */
  /* } */
  .table{
    margin-bottom: 30vh;
  }
  .mainupload:hover { transform: scale(1); }
}


.streak {
  animation: text-shadow 1.5s ease-in-out infinite;
  /* font-size: 5em; */
  /* font-weight: 900; */
  /* line-height: 1; */
}

/* .streak:hover { */
  /* animation-play-state: paused; */
/* } */





@keyframes text-shadow {
  0% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #FFFFFF, 
          0 0 0 #9fa3a3, 
          0 0 0 #bbb5b5, 
          0 0 0 #f0efd6;
  }

  20% {  
      transform: translateY(-1em);
      text-shadow: 
          0 0.125em 0 #FFFFFF, 
          0 0.25em 0 #9fa3a3, 
          0 -0.125em 0 #bbb5b5, 
          0 -0.25em 0 #f0efd6;
  }

  40% {  
      transform: translateY(0.5em);
      text-shadow: 
          0 -0.0625em 0 #FFFFFF, 
          0 -0.125em 0 #9fa3a3, 
          0 0.0625em 0 #bbb5b5, 
          0 0.125em 0 #f0efd6;
  }
  
 60% {
      transform: translateY(-0.25em);
      text-shadow: 
          0 0.03125em 0 #FFFFFF, 
          0 0.0625em 0 #9fa3a3, 
          0 -0.03125em 0 #bbb5b5, 
          0 -0.0625em 0 #f0efd6;
  }

  80% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #FFFFFF, 
          0 0 0 #9fa3a3, 
          0 0 0 #bbb5b5, 
          0 0 0 #f0efd6;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

.mainlogin{
  margin-top: 20vh;
}





